  <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Display your Ad here</h5>
          <div class="card-body">
              PG owners list your property add <strong><a href="{% url 'personal:contact' %}">FREE</a></strong> and get displayed here for higher visibility.
          </div>
        </div>

<!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Premium PG's</a>
                  </li>
                  <li>
                    <a href="#">Executive PG's</a>
                  </li>
                  <li>
                    <a href="#">Service Apt</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Featured Ads</a>
                  </li>
                  <li>
                    <a href="#">Studio Rooms</a>
                  </li>
                  <li>
                    <a href="#">Dormitory</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Submit a Free Ad</h5>
          <div class="card-body">
              PG owners list your property add <strong><a href="{% url 'personal:contact' %}">FREE</a></strong> and get displayed here for higher visibility.
          </div>
        </div>

          <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Featured Ads</h5>
          <div class="card-body">
              PG owners list your property add <strong><a href="{% url 'personal:contact' %}">FREE</a></strong> and get displayed here for higher visibility.
          </div>
        </div>