{% extends 'base_index.html' %}
{% block title %} About pgnhostel {% endblock %}
{% block content %}

<div class="card my-4">
    <h5 class="card-header"><a href="{% url 'pgs:home' %}">Welcome to pgnhostel.com</a></h5>
        <div class="card-body">



    We're in the process of creating a digital identity for thousands of paying guests & hostels,
    which play a very crucial role in accommodating lakhs of students & young working professionals. On one side,
    we find a lot of people who face tough time while finding a good hostel within their budget and on the
    other side we find a lot of hostel owners who are clueless about marketing and promoting their hostel.

        </br>
            </br>

    pgnhostel.com simply act as matchmakers and help both the parties meet their expectations.
    pgnhostel.com is a marketplace for low budget and entry level accommodations in Bangalore.

        </br>
            </br>

    pgnhostel.com is the site where you can get complete details about
    Paying Guest Accommodation in Bangalore and shortly extending to other citites.

        </br>
            </br>

    Freedom for you to choose without signup's or providing your personal or contact information.
        </br>
            </br>
    If you like our services, please support us by informing others about pgnhostel.com in need.




        </div>

</div>


{% endblock %}
