{% extends 'base_index.html' %}
{% block title %} pgnhostel contact {% endblock %}
{% block content %}

<div class="card my-4">
    <h5 class="card-header"><a href="{% url 'pgs:home' %}">Thank you for your interest in pgnhostel.com</a></h5>
        <div class="card-body">




    <h4>Kindly drop an email with your queries to : </h4>
    <br/>
    <h5> E-mail: <a href = "mailto: bengalurupgs@gmail.com">bengalurupgs@gmail.com</a></h5>
    <h5>SMS/call/whatsapp : + 91 8550866998</h5>
    <br/>
    <h6><strong>NOTE:</strong> PG owners list your property add <strong>FREE</strong> and start getting enquires.</h6>
</div>
</div>
<br/>
<br/>


{% endblock %}
